.footer {
    background-color: var(--dark-blue);
    display: flex;
    color: #fff;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    height: 8rem;
    p{
      color: #fff;
    }
  }


  